
.t1{ 
margin-top:25%;
cursor: pointer; 
}



body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
	margin-top: 15%;
	font-size:50pt;
	text-align: center;
}

section {
  margin-top: 10% auto;
  text-align: center;
}

